/* COLORS */
$myliveThemeColor: #ffffff;
$minhavidaThemeColor: #009b3a;
$zindagiThemeColor: #c079d8;
$mividaThemeColor: #fa8700;
$mylifeThemeColor: #019280;

$light_grey: #b1b1b1;
$dark_grey: #7d7781;
$white_color: #fff;
$black_color: #000;
$light_black_color: #1c181f;
$allTextColor: #131313;
