<div class="page-wrapper">
  <perfect-scrollbar>
    <div class="container">
      <div class="app-row" style="justify-content: center;">
        <div class="app-col col-8">
          <mat-card class="reset-form-card">
            <mat-card-header>
              <mat-card-title > Reset Password</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <form autocomplete="off" name="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm.value)"
                id="changePasswordForm" novalidate >
                <div class="form-row">
                  <div class="form-col form-col-12">
                    <div class="from-group">
                      <mat-form-field appearance="outline" class="w-100">
                        <input
                          matInput
                          formControlName="password"
                          placeholder="New Password"
                          [type]="hide ? 'password' : 'text'"
                          autocomplete="off"
                        />
                        <button
                          mat-icon-button
                          matSuffix
                          (click)="hide = !hide"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide"
                          type="button"
                        >
                          <img
                            src="{{
                              hide
                                ? 'assets/images/icons/eye-off.svg'
                                : 'assets/images/icons/eye-on.svg'
                            }}"
                            alt=""
                          />
                        </button>
                        <mat-error *ngIf="submitted && f.password.errors">
                          <div *ngIf="f.password.errors.required">
                            Password is required
                          </div>
                          <div *ngIf="f.password.errors.minlength">
                            Password must be at least 6 characters
                          </div>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="form-col form-col-12">
                    <div class="from-group">
                      <mat-form-field appearance="outline" class="w-100">
                        <input
                          matInput
                          formControlName="cPassword"
                          placeholder="Confirm Password"
                          [type]="hide ? 'password' : 'text'"
                          autocomplete="off"
                        />
                        <button
                          mat-icon-button
                          matSuffix
                          (click)="hide = !hide"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide"
                          type="button"
                        >
                          <img
                            src="{{
                              hide
                                ? 'assets/images/icons/eye-off.svg'
                                : 'assets/images/icons/eye-on.svg'
                            }}"
                            alt=""
                          />
                        </button>
                        <mat-error *ngIf="submitted && f.cPassword.errors">
                          <div *ngIf="f.cPassword.errors.required">
                            Confirm Password is required
                          </div>
                          <div *ngIf="f.cPassword.errors.minlength">
                            Password must be at least 6 characters
                          </div>
                          <div *ngIf="f.cPassword.errors.mustMatch">
                            Password does not match
                          </div>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="text-center mt-1 mb-1">
                  <button
                    [disabled]="loader"
                    class="btn btn-mylive"
                    color="primary"
                    mat-raised-button
                  >
                    Submit <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>
                  </button>
                </div>
              </form>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>
