<div class="dialog-inner">
  <div class="dialog-heder text-center">
    <button class="btn-hide-absolute"></button>
    <h1 class="heading-blue" >Login</h1>
  </div>
  <div class="dialog-content max-w">
    <form autocomplete="off" name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" id="loginForm" novalidate>
      <div class="form-row">
        <div class="form-col form-col-12">
          <div class="from-group">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput formControlName="email" placeholder="Username/Email" />
              <mat-error *ngIf="submitted && f.email.errors">
                <div *ngIf="f.email.errors.required">Username/Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-col form-col-12">
          <div class="from-group">
            <mat-form-field appearance="outline" class="w-100">
              <input
                matInput
                formControlName="password"
                placeholder="Password"
                [type]="hide ? 'password' : 'text'"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
                type="button"
              >
                <img
                  src="{{hide ? 'assets/images/icons/eye-off.svg' : 'assets/images/icons/eye-on.svg'}}"
                  alt="" draggable="false" 
                />
              </button>
              <mat-error *ngIf="submitted && f.password.errors">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="sign-checkbox">
        <!-- <mat-checkbox class="mylive-checkbox">Forget Password?</mat-checkbox> -->
        <a class="text-primary" href="javascript:void(0)" (click)="clickToForgotPassword()">Forget Password?</a>
      </div>
      <div class="text-center mt-1 mb-1">
        <button [disabled]="loader"
          class="btn btn-mylive"
          color="primary"
          mat-raised-button
        >
          Login <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>
        </button>
        &nbsp;&nbsp;
        <button
            class="btn btn-mylive"
            color="bg-light"
            mat-raised-button
            mat-dialog-close
          >
        Cancel
        </button>
      </div>
    </form>
  </div>
</div>
